/* line 6, calendar-picker.scss */
paper-button {
  font-size: 12px;
}

/* line 10, calendar-picker.scss */
core-input {
  border: 1px dotted black;
  padding: 3px;
}

/* line 15, calendar-picker.scss */
div.td {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  padding: 14px;
  text-align: center;
  cursor: pointer;
}
/* line 21, calendar-picker.scss */
div.td.dead-date {
  cursor: default;
  color: gray;
}
/* line 24, calendar-picker.scss */
div.td.dead-date:hover {
  background-color: white;
  color: gray;
}
/* line 30, calendar-picker.scss */
div.td.current-day {
  background-color: #e1e1e1;
}
/* line 34, calendar-picker.scss */
div.td:hover {
  background-color: #03a9f4;
  color: white;
}
/* line 39, calendar-picker.scss */
div.td.selected {
  background-color: #03a9f4;
  cursor: default;
  color: white;
}

@media (max-width: 400px) {
  /* line 47, calendar-picker.scss */
  div.td {
    padding: 12px;
  }
}
@media (max-width: 360px) {
  /* line 53, calendar-picker.scss */
  div.td {
    padding: 10px;
  }
}
@media (max-width: 325px) {
  /* line 59, calendar-picker.scss */
  div.td {
    padding: 8px;
  }
}
@media (max-width: 310px) {
  /* line 65, calendar-picker.scss */
  div.td {
    padding: 6px;
  }
}
@media (max-width: 285px) {
  /* line 71, calendar-picker.scss */
  div.td {
    padding: 2px;
  }
}
