@import "./../sass-globals/globals.scss";
@import "compass/css3/border-radius";

$tdbg: #03a9f4;

paper-button {
  font-size: 12px;
}

core-input {
  border: 1px dotted black;
  padding: 3px;
}

div.td {
  @include border-radius(4px, 4px);

  padding: 14px;
  text-align: center;
  cursor: pointer;
  &.dead-date {
    cursor: default;
    color: gray;
    &:hover {
      background-color: white;
      color: gray;
    }
  }

  &.current-day {
    background-color: rgb(225, 225, 225);
  }

  &:hover {
    background-color: $tdbg;
    color: white;
  }

  &.selected {
    background-color: $tdbg;
    cursor: default;
    color:white;
  }
}

@media (max-width: $md-screen) {
  div.td {
    padding: 12px;
  }
}

@media (max-width: $mm-screen) {
  div.td {
    padding: 10px;
  }
}

@media (max-width: $sm-screen) {
  div.td {
    padding: 8px;
  }
}

@media (max-width: $xs-screen) {
  div.td {
    padding: 6px;
  }
}

@media (max-width: $xss-screen) {
  div.td {
    padding: 2px;
  }
}
