/* line 5, datetime-picker.scss */
#picker {
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  -webkit-box-shadow: black 2px 2px 10px;
  -moz-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
  background-color: white;
  display: none;
  position: absolute;
  z-index: 1;
  display: block;
  padding: 10px;
}

/* line 16, datetime-picker.scss */
paper-button {
  font-size: 12px;
}

/* line 20, datetime-picker.scss */
core-input {
  border: 1px dotted black;
  padding: 3px;
}

/* line 25, datetime-picker.scss */
td {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  padding: 7px;
  text-align: center;
  cursor: pointer;
}
/* line 32, datetime-picker.scss */
td:hover {
  background-color: #03a9f4;
  color: white;
}
/* line 37, datetime-picker.scss */
td.dead-date {
  cursor: default;
  color: gray;
}
/* line 40, datetime-picker.scss */
td.dead-date:hover {
  background-color: white;
  color: gray;
}
/* line 46, datetime-picker.scss */
td.selected {
  background-color: #03a9f4;
  cursor: default;
  color: white;
}
