/* line 4, datetime-picker.scss */
#picker {
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  -webkit-box-shadow: black 2px 2px 10px;
  -moz-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
  background-color: white;
  height: 400px;
  display: none;
  position: absolute;
  z-index: 1;
  display: block;
  padding: 10px;
}

/* line 16, datetime-picker.scss */
paper-button {
  font-size: 12px;
}

/* line 20, datetime-picker.scss */
core-input {
  border: 1px dotted black;
  padding: 3px;
}

@media (max-width: 399px) {
  /* line 26, datetime-picker.scss */
  #picker {
    height: 350px;
  }
}
@media (max-width: 320px) {
  /* line 31, datetime-picker.scss */
  #picker {
    height: 300px;
  }
}
@media (max-width: 270px) {
  /* line 37, datetime-picker.scss */
  #picker {
    height: 250px;
  }
}
