/* line 3, time-picker.scss */
paper-slider {
  width: 300px;
}

/* line 7, time-picker.scss */
section {
  padding: 20px 0;
}

/* line 11, time-picker.scss */
paper-button {
  font-size: 20px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 16, time-picker.scss */
paper-button /deep/ paper-ripple {
  color: #3f51b5 !important;
}
